* {
    margin: 0px;
    padding: 0px;
}

:root {
    box-sizing: border-box;
    

    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;


    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    --font-family2: "Inconsolata", monospace;
    --font-family3: "Maven Pro", sans-serif;

    --title-lg: 600 56px/120% bold;
    --title-md: 800 24px/120%;
    --title-sm: 800 16px/120%;
}

body {
    font-family: "Asap", sans-serif;
    width: 100%;
    
}

h1 {
    font: var(--title-lg);
    font-family: var(--font-family);
}

