.background-container {
    /* box-sizing: border-box; */
    background-image: url('./assets/Background_Intro.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    /* height: 100%; */
    display: flex;
    justify-content: center;
}

.header-content {
    width: 680px;
    text-align: center;
    padding-block: 95px 208px;
    margin-left: 200px;
}

body div {
    width: 100%;
}

header {
    width: 1040px;
}


#intro div :nth-child(1) {
    margin-bottom: 56px;
}

#intro div :nth-child(2) {
    margin-bottom: 8px;
}

#intro div :nth-child(5) {
    margin-top: 80px;
}

#intro div h1 {
    margin-bottom: 20px;
}

header div img + img {
    margin-top: 119px;
}

.header-content p span {
    color: var(--red);
}

.header-content h1{
    color: var(--gray-600);
    
}

.header-content p {
    color: var(--gray-400);
}


.header-content img + p {
    font-family: var(--font-family2);
}


